{{ 'section-featured-block.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before, #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before  {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }}
    ;
  }
{%- endstyle -%}

{%- assign lazyload = 'lazy' -%}
{% if section.settings.above_the_fold %}
  {%- assign lazyload = 'eager' -%}{% endif %}

<div id="Banner-{{ section.id }}" class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
  {%- if section.settings.video_background -%}
    <div class="banner__media media video-background">
      <video
        autoplay
        muted
        loop
        id="myVideo">
        <source src="{{ section.settings.video_url }}">
      </video>
    </div>
  {%- endif -%}
  {%- if section.settings.video_background_mobile -%}
    <div class="banner__media media video-background video-background__mobile">
      <video
        autoplay
        muted
        loop
        id="myVideo">
        <source src="{{ section.settings.video_url_mobile }}">
      </video>
    </div>
  {%- endif -%}
  {% if section.settings.image_mobile != blank or section.settings.video_background_mobile != blank %}
    {%- style -%}
      @media screen and (max-width: 749px) {
        .banner__media-half,
        .media--right {
          display: none;
        };
        .media--mobile {
          display: block;

        }
        #Banner-{{ section.id }}.banner__media.media--mobile {
          height: {{ section.settings.mobile_height}}
          px !important;
        }
        #Banner-{{ section.id }}{
          min-height: 80rem;
        }
      }
      @media screen and (min-width: 750px) {
        .feature-block .media--mobile,
        .feature-block .video-background__mobile {
          display: none;
        }
      }

      @media screen and (max-width: 750px) {
        .feature-block .image-background {
          display: none;
        }
        .feature-block .video-background__mobile video {
          height: 100% !important;
          object-fit: fill;
        }
      }
    {%- endstyle -%}
  {% endif %}
  {%- if section.settings.image_mobile != blank %}
    <div class="banner__media media media--mobile">
      <img
        srcset="{%- if section.settings.image_mobile.width >= 375 -%}{{ section.settings.image_mobile| img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 750 -%}{{ section.settings.image_mobile | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 1100 -%}{{ section.settings.image_mobile | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 1500 -%}{{ section.settings.image_mobile | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 1780 -%}{{ section.settings.image_mobile | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 2000 -%}{{ section.settings.image_mobile | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 3000 -%}{{ section.settings.image_mobile | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 3840 -%}{{ section.settings.image_mobile | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ section.settings.image_mobile | img_url: 'master' }} {{ section.settings.image_mobile.width }}w"
        sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_mobile | img_url: '375x' }}"
        loading="lazy"
        alt="{{ section.settings.image_mobile.alt | escape }}"
        width="{{ section.settings.image_mobile.width }}"
        height="{{ section.settings.image_mobile.width | divided_by: section.settings.image_mobile.aspect_ratio }}"
        class="banner__media-image-mobile"
      >
    </div>
  {%- endif -%}

  {%- if section.settings.image != blank -%}
    <div class="banner__media media image-background{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {%-liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = "banner__media-image-half"
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = "(min-width: 750px) 50vw, 100vw"
        elsif section.settings.image_2 != blank
          assign sizes = "50vw"
        else
          assign sizes = "100vw"
        endif
      -%}
      {{ section.settings.image | image_url: width: 1500 | image_tag:
        loading: lazyload,
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image.alt | escape
      }}
    </div>
  {%- elsif section.settings.image_2 == blank and section.settings.video_background == false and section.settings.image_mobile == blank-%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}">
      {%-liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = "banner__media-image-half"
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = "(min-width: 750px) 50vw, 100vw"
        elsif section.settings.image != blank
          assign sizes = "50vw"
        else
          assign sizes = "100vw"
        endif
      -%}
      
      {{ section.settings.image_2 | image_url: width: 1500 | image_tag:
        loading: lazyload,
        width: section.settings.image_2.width,
        height: image_height_2,
        class: image_class_2,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: section.settings.image_2.alt | escape
      }}
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
          <h2 class="banner__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
            <span>{{ block.settings.heading | escape }}</span>
          </h2>
          {%- when 'text' -%}
          <div class="banner__text {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
            <span>{{ block.settings.text }}</span>
          </div>
          {%- when 'buttons' -%}
          <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
            {%- if block.settings.button_label_1 != blank -%}
              <a {% if block.settings.button_link_1 == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
            {%- endif -%}
            {%- if block.settings.button_label_2 != blank -%}
              <a {% if block.settings.button_link_2 == blank %}role="link"aria-disabled="true"{% else %}href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
            {%- endif -%}

          </div>
        {%- endcase -%}
      {%- endfor -%}
      {% if section.settings.link_text %}
        <div class="featured-block__link-text">
          <a href="{{section.settings.link_text_url}}" style="color: #ef3340 !important;">
            {{ section.settings.link_text }}
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.25 10.5L8.75 7L5.25 3.5"
                stroke="#EF3340"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "t:sections.feature-block.name",
    "tag": "section",
    "class": "section feature-block",
    "settings": [
      {
        "type": "checkbox",
        "id": "above_the_fold",
        "label": "Above the fold hero",
        "default": false,
        "info": "Set this to true if this section is the first and displayed above the fold on page load"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.feature-block.settings.image.label"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image"
      },
      {
        "type": "checkbox",
        "id": "video_background",
        "default": false,
        "label": "Has Video Background"
      }, {
        "type": "text",
        "id": "video_url",
        "label": "Video Url"
      }, {
        "type": "checkbox",
        "id": "video_background_mobile",
        "default": false,
        "label": "Has Video Background on mobile"
      }, {
        "type": "text",
        "id": "video_url_mobile",
        "label": "Video Url Mobile"
      }, {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      }, {
        "type": "url",
        "id": "link_text_url",
        "label": "Link text url"
      }, {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.feature-block.settings.image_overlay_opacity.label",
        "default": 0
      }, {
        "type": "select",
        "id": "image_height",
        "options": [
          {
            "value": "small",
            "label": "t:sections.feature-block.settings.image_height.options__1.label"
          }, {
            "value": "medium",
            "label": "t:sections.feature-block.settings.image_height.options__2.label"
          }, {
            "value": "large",
            "label": "t:sections.feature-block.settings.image_height.options__3.label"
          }
        ],
        "default": "medium",
        "label": "t:sections.feature-block.settings.image_height.label",
        "info": "t:sections.feature-block.settings.image_height.info"
      }, {
        "type": "checkbox",
        "id": "adapt_height_first_image",
        "default": false,
        "label": "t:sections.feature-block.settings.adapt_height_first_image.label",
        "info": "t:sections.feature-block.settings.adapt_height_first_image.info"
      }, {
        "type": "select",
        "id": "desktop_content_position",
        "options": [
          {
            "value": "top-left",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__1.label"
          },
          {
            "value": "top-center",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__2.label"
          },
          {
            "value": "top-right",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__3.label"
          },
          {
            "value": "middle-left",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__4.label"
          }, {
            "value": "middle-center",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__5.label"
          }, {
            "value": "middle-right",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__6.label"
          }, {
            "value": "bottom-left",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__7.label"
          }, {
            "value": "bottom-center",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__8.label"
          }, {
            "value": "bottom-right",
            "label": "t:sections.feature-block.settings.desktop_content_position.options__9.label"
          }
        ],
        "default": "middle-center",
        "label": "t:sections.feature-block.settings.desktop_content_position.label"
      }, {
        "type": "checkbox",
        "id": "show_text_box",
        "default": true,
        "label": "t:sections.feature-block.settings.show_text_box.label"
      }, {
        "type": "select",
        "id": "desktop_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.feature-block.settings.desktop_content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.feature-block.settings.desktop_content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.feature-block.settings.desktop_content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.feature-block.settings.desktop_content_alignment.label"
      }, {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.feature-block.settings.color_scheme.info"
      }, {
        "type": "header",
        "content": "t:sections.feature-block.settings.header.content"
      }, {
        "type": "select",
        "id": "mobile_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.feature-block.settings.mobile_content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.feature-block.settings.mobile_content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.feature-block.settings.mobile_content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.feature-block.settings.mobile_content_alignment.label"
      }, {
        "type": "checkbox",
        "id": "stack_images_on_mobile",
        "default": true,
        "label": "t:sections.feature-block.settings.stack_images_on_mobile.label"
      }, {
        "type": "checkbox",
        "id": "show_text_below",
        "default": true,
        "label": "t:sections.feature-block.settings.show_text_below.label"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.feature-block.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Image banner",
            "label": "t:sections.feature-block.blocks.heading.settings.heading.label"
          }, {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              }, {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              }, {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      }, {
        "type": "text",
        "name": "t:sections.feature-block.blocks.text.name",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.feature-block.blocks.text.settings.text.label"
          }, {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.feature-block.blocks.text.settings.text_style.options__1.label"
              }, {
                "value": "subtitle",
                "label": "t:sections.feature-block.blocks.text.settings.text_style.options__2.label"
              }, {
                "value": "caption-with-letter-spacing",
                "label": "t:sections.feature-block.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.feature-block.blocks.text.settings.text_style.label"
          }
        ]
      }, {
        "type": "buttons",
        "name": "t:sections.feature-block.blocks.buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "t:sections.feature-block.blocks.buttons.settings.button_label_1.label",
            "info": "t:sections.feature-block.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "t:sections.feature-block.blocks.buttons.settings.button_link_1.label"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "t:sections.feature-block.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "default": "Button label",
            "label": "t:sections.feature-block.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.feature-block.blocks.buttons.settings.button_label_2.info"
          }, {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.feature-block.blocks.buttons.settings.button_link_2.label"
          }, {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.feature-block.blocks.buttons.settings.button_style_secondary_2.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.feature-block.presets.name",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          }, {
            "type": "buttons"
          }
        ]
      }
    ]
  }
{% endschema %}